[Unit]
Description=Wide DHCPv6 client
Documentation=man:dhcp6c(8) man:dhcp6c.conf(5)

[Service]
EnvironmentFile=-/etc/sysconfig/dhcp6c
ExecStart=/usr/sbin/dhcp6c -f $DHCP6CARGS $DHCP6CIF

[Install]
WantedBy=network.target

